.elements__like {
    -webkit-transition: opacity linear .4s;
    -o-transition: opacity linear .4s;
    transition: opacity linear .4s;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
}