.popup__save-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-style: none;
    border-radius: 2px;
    width: 100%;
    height: calc(46px + (50 - 46) * ((100vw - 320px) / (1280 - 320)));
    transition: background-color linear .4s;
    cursor: pointer;
}

.popup__save-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

